# Creating a List

In [64]:
MyList = ['C','C++','Java','Python','R Language','Ruby','javascript','GO']
print(MyList)

['C', 'C++', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO']

# Adding a new items

In [65]:
#Append
MyList.append('COBOL')
print(MyList)

['C', 'C++', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL']

In [66]:
#Extend
MyList.extend(['SQL'])
print(MyList)

['C', 'C++', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

In [67]:
#Insert
MyList.insert(2,'GO')
print(MyList)

['C', 'C++', 'GO', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

# Remove an items from a List

In [68]:
# Remove
print('Original List is:', MyList)
MyList.remove('C')
print('After removing a item:',MyList)

Original List is: ['C', 'C++', 'GO', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']
After removing a item: ['C++', 'GO', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

In [69]:
#Pop
print('Original List is:', MyList)
MyList.pop(2)
print('After poping a item:',MyList)

Original List is: ['C++', 'GO', 'Java', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']
After poping a item: ['C++', 'GO', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

In [70]:
#Remove an item throgh a Slicing
print('Original List is:', MyList)
MyList= MyList[:2]+MyList[3:]
print('After removing a item:',MyList)

Original List is: ['C++', 'GO', 'Python', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']
After removing a item: ['C++', 'GO', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

# Modifying a List

In [71]:
# Indexing
print('Original List is:', MyList)
print(MyList.index('GO'))
print(MyList.index('COBOL'))

Original List is: ['C++', 'GO', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']
1
6

In [72]:
# Reversing
print('Reverse List is:', MyList)
MyList.reverse()

Reverse List is: ['C++', 'GO', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']

In [73]:
# Slicing
print('Original List is:', MyList)
print(MyList[:5])
print(MyList[::-1])
print(MyList[-1:])

Original List is: ['SQL', 'COBOL', 'GO', 'javascript', 'Ruby', 'R Language', 'GO', 'C++']
['SQL', 'COBOL', 'GO', 'javascript', 'Ruby']
['C++', 'GO', 'R Language', 'Ruby', 'javascript', 'GO', 'COBOL', 'SQL']
['C++']

# Creating a Dictionary

In [74]:
Dict= {"EmpID":"EMP101",
       "EmpName" : "John",
       "EmpAge" : 21,
       "EmpSalary" : 10000 }
print(Dict)

{'EmpID': 'EMP101', 'EmpName': 'John', 'EmpAge': 21, 'EmpSalary': 10000}

In [75]:
# Iteration in Dictionary

# For Keys
for x in Dict:
   print(x)
    
# For Values
for x in Dict.values():
   print(x)

#Using item function
for x,y in Dict.items():
    print(x,":",y)

EmpID
EmpName
EmpAge
EmpSalary
EMP101
John
21
10000
EmpID : EMP101
EmpName : John
EmpAge : 21
EmpSalary : 10000

# Modifying a Dictionary

In [76]:
# Get Function
print(Dict.get("EmpSalary"))

# Copy Function
print(Dict.copy())

# Update Function
Dict1={'EmpID': 'EMP102', 'EmpAge': 22}
Dict.update(Dict1)
print(Dict)

10000
{'EmpID': 'EMP101', 'EmpName': 'John', 'EmpAge': 21, 'EmpSalary': 10000}
{'EmpID': 'EMP102', 'EmpName': 'John', 'EmpAge': 22, 'EmpSalary': 10000}

# Removing an Item from Dictionary

In [77]:
# Pop Function
Dict.pop("EmpName")
print(Dict)

# PopItem Function
Dict.popitem()
print(Dict)

# Pop Function
Dict.clear()
print(Dict)

{'EmpID': 'EMP102', 'EmpAge': 22, 'EmpSalary': 10000}
{'EmpID': 'EMP102', 'EmpAge': 22}
{}

# Creating a Sets

In [78]:
a = {"Ironman","Hulk","Captain America","Spiderman"}
print(a)
print(type(a))

{'Ironman', 'Captain America', 'Spiderman', 'Hulk'}
<class 'set'>

# Adding a new elements

In [79]:
# Add function
a.add("Thor")
print(a)

{'Ironman', 'Thor', 'Spiderman', 'Hulk', 'Captain America'}

# Removing an elements

In [80]:
# Pop function
a.pop()
print(a)
# Remove function
a.remove("Thor")
print(a)
# Discard function
a.discard("Hulk")
print(a)

{'Thor', 'Spiderman', 'Hulk', 'Captain America'}
{'Spiderman', 'Hulk', 'Captain America'}
{'Spiderman', 'Captain America'}

In [81]:
# Another functions
a = {"Ironman","Hulk","Captain America","Spiderman"}
b = {"Superman","Batman","Wonder-Woman","Hulk"}
c = {"Ironman","Hulk"}
# Disjoint function
print(a.isdisjoint(b))
# Subset function
print(c.issubset(a))
# Superset function
print(a.issuperset(c))
# Update function
a.update(b)
print(a)
# Clear function
a.clear()
print(a)

False
True
True
{'Ironman', 'Wonder-Woman', 'Batman', 'Spiderman', 'Hulk', 'Captain America', 'Superman'}
set()